.chat-room {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    width: 180px;
    height: 100%;
    padding: 10px;
    background-color: rgba(#140c0e, 1);
    color: #fff;

    .chat-header {
        .icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-bottom: -10px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
        }
        h2 {
            display: inline-block;
            padding: 5px;
            color: #fff;
            font-size: 0.9em;
            margin: 0;
        }
    }
    .chat-content {
        span {
            color: #ccc;
        }

        input {
            margin: 10px auto;
            display: block;
            border-radius: 5px;
            height: 25px;
        }
        button {
            margin: auto;
            display: block;
            padding: 10px;
            width: 150px;
            border-radius: 10px;
            height: 40px;
        }

        small {
            color: #fdf;
            margin: auto;
            display: block;
            text-align: center;
            font-size: 0.7em;
        }
    }

    &.collapsed{
        height: 30px;
        width: 30px;
        .chat-header h2{display: none;}
        .chat-content{display: none;}
    }
}
