.how-to-play {
    margin:auto;
    background-color: rgba(#140c0e, 1);
    color: #fff;
    padding: 10px;
    font-size: 0.8em;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;

    &.quick {
        width: 80vmin;
        height: 150px;
        margin-top: -50px;
        margin-bottom: 50px;
    }

    .full-instructions {
        background-color: rgba(#140c0e, 1);
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        position: fixed;
        margin: auto;
        top: 3vh;
        left: 0px;
        right: 0px;
        width: 80vw;
        bottom: 3vh;

        .header {
            width: 100%;
            text-align: center;
            font-size: 1.2em;
            position: relative;
            height: 35px;
            .close-button {
                height: 20px; width: 20px;
                text-align: center;
                padding: 5px;
                background:  #dc143c;
                cursor: pointer;
                position: absolute;
                top:0; right: 0;
            }
        }



        .instructions-content {
            padding: 20px;
            overflow-y: scroll;
            overflow-x: hidden;

            position: absolute;
            bottom: 1vh;
            top: calc(35px + 1vh);
            left: 1vh; right: 1vh;

            .types-of-cards {
                .description {

                }
                .card-example {
                    width: 10%;
                }
            }

            .img-example {
                text-align: center;
                height: 200px;
                margin:5px;

                img {
                    height:100%;
                    margin:2px;
                    &:hover {
                        transform: scale(3, 3);
                    }
                }

                .table-layout {
                    &:hover {
                        transform: scale(1.5, 1.5);
                    }
                }
            }
        }
    }
}
