.player {
  display: grid;
  grid-gap: 0px;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: calc(5vmin - (2 * #{$cardMargin})) auto;
  grid-template-areas:
    "player-name"
    "player-cards";
  align-items: start;

  .player-name {
    grid-area: player-name;

    padding: 0 10px 0 10px;
    margin: 0;
    font-weight: bold;
    line-height: 2vmin;
    color: #fff;
    text-shadow: 1px 1px 1px #140c0e, 1px -1px 1px #140c0e, -1px 1px 1px #140c0e, -1px -1px 1px #140c0e;
  }

  .player-cards{
    grid-area: player-cards;
    height: $cardHeight;
  }

  &.current-turn {
    .player-name {
      text-shadow: 2px 2px 2px #dc143c, 2px -2px 2px #dc143c, -2px 2px 2px #dc143c, -2px -2px 2px #dc143c;
    }
  }
}
