.table {
  background-color: #c26230;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(/images/background.jpg);

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: 25vmin auto 25vmin;
  grid-template-rows: 50px 25vmin auto 25vmin 30px;
  //landscape; 4 players
  grid-template-areas:
    "header header header"
    "player-a player-b player-c"
    "player-a deck player-c "
    "player-current player-current player-current"
    "footer footer footer";

  //landscape; 3 players
  &.players-3 {
    grid-template-areas:
      "header header header"
      "player-a deck player-b"
      "player-a deck player-b "
      "player-current player-current player-current"
      "footer footer footer";
  }

  .header {
    background-color: #140C0E;
    color: #fff;
    grid-area: header;
    width: 100%;
    font-size: 1.2em;
    line-height: 50px;
    .logo{
      display: inline-block;
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 0 10px;
      margin-bottom: -20px;
    }
  }

  .footer {
    background-color: rgba($color: #140C0E, $alpha: 0.5);
    color: #fff;
    grid-area: footer;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    line-height: 30px;;
  }

  .start-button {
    margin: auto;
    display: block;
  }
}

@media (orientation: portrait) {
  .table {
    //portrait; 4 players
    grid-template-areas:
      "header header header"
      "player-b player-b player-b"
      "player-a deck player-c "
      "player-current player-current player-current"
      "footer footer footer";

    //portrait; 3 players = landscape; 3 players
  }
}
