.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.login-box {
  background: linear-gradient(90deg, #d53369 0%, #FFaa51 100%);
  margin:100px auto;
  width:300px;
  padding: 10px;
  padding-top: 20px;
  border-radius: 10px;
}

.login-box h1 {
  margin: auto;
  padding: 5px;
  display: block;
  color: #FFF;
  text-align: center;
  font-size: 1.2em;
}

.login-box input {
  margin:10px auto;
  display: block;
  border-radius: 5px;
  height: 25px;

}
.login-box button {
  margin:auto;
  display: block;
  padding: 10p x ;
  width:150px;
  border-radius: 10px;
  height: 40px;
}

.login-box small {
  color: #FDF;
  margin:auto;
  display: block;
  text-align: center;
  font-size: 0.7em;
}



.chat-room {
  width:200px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid;
  float: right;
}

.chat-room h1 {
  margin: auto;
  padding: 5px;
  display: block;
  color: ;
  text-align: center;
  font-size: 1.1em;
}

.chat-room span {
  color: #CCC;
}

.chat-room input {
  margin:10px auto;
  display: block;
  border-radius: 5px;
  height: 25px;

}
.chat-room button {
  margin:auto;
  display: block;
  padding: 10p x ;
  width:150px;
  border-radius: 10px;
  height: 40px;
}

.chat-room small {
  color: #FDF;
  margin:auto;
  display: block;
  text-align: center;
  font-size: 0.7em;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
